
.App {
  text-align: center;
}

.header__main {
  display: flex;

}
.bookSearch__section {
  display: inline;
  min-width: 80vw;
}
.header__logo {
  width: 20vw;
  height: auto;
  margin: 35px;
}
.header__title {
  text-align: center;
  margin-top: 65px;
  font-size: 35px;
}
.header__form {
  display: block;
  display: flex;
  justify-content: space-around;
  margin: 0px 150px;
}
.form__input--text {
  border-radius: 8px;
  margin: 10px;
  height: 33px;
  font-size: 20px;
  padding: 10px;
}
.form__input--select {
  font-size: 20px;
  padding: 10px;
  height: 56px;
  margin-top: 10px;
  background-color: white;
  border: 2px solid grey;
  border-radius: 15px;
}
.form__btn {
  font-size: 20px;
  width: 120px;
  height: 55px;
  margin: 10px;
  border-radius: 15px;
  background-color: #b3dff3;
}

.catalogue__title {
  margin: 20px 85px;
  text-transform: uppercase;
  font-size: 28px;
}

.catalogue__list {
 display: flex;
 flex-wrap: wrap;
 margin: 30px;
}
.catalogue__list--item {
  list-style: none;
  border: 2px solid grey;
  border-radius: 8px;
  margin: 15px;
  width: 200px;
  height: 300px;
  box-shadow: 2px rgba(214, 208, 208, 0.863);
  background-color: #b3dff3;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.catalogue__list--title {
  text-transform: capitalize;
  font-size: 18px;
}
.catalogue__list--img {
  
  width: 100px;
  height: 130px;
  margin: auto;
}
.catalogue__list--price {
  margin: 20px auto 5px;
}
.catalogue__list--gender {
  text-transform: uppercase;
  margin:  10px auto;
}

